@import 'libs/fonts';

@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@import '../sass/blocks/header';


@import '../sass/media';