@import 'libs/fonts';
@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import '../sass/base/variables';

@import '../sass/blocks/header';
@import '../sass/blocks/buttons';
@import '../sass/blocks/advantages';




@import '../sass/media';