.feed-form {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 16px;
    justify-content: space-between;
    input {
        padding: 18px 27px;
        margin: 0 3px;
        width: 268px;
        height: 45px;
        border-radius: 45px;
        border: 1px solid rgba(0, 0, 0, 0.21);
        background-color: #ffffff;
        font-size: 13px;
        font-weight: 300;
    }
}