.header {
    min-height: 680px;
    padding: 23px 0 32px 0;
    background: url(/img/bg_header.jpg) center (center/cover) no-repeat;
    &__row {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 100px;
        height: 100px;
        &_img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__menu {
        width: 620px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_link {
            color: #ffffff;
            font-size: 15px;
            font-weight: 400;
        }
    }
}