.job {
    .container {
        max-width: 1250px;
    }
    min-height: 619px;
    padding: 51px 0 57px;
    &__promo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_item {
            margin: 37px 15px 0;
            max-width: 360px;
            &-img {
                width: 360px;
                height: 210px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-subtitle {
                margin-top: 25px;
                color: $main-color;
                font-size: 18px;
                font-weight: 700;
                line-height: 18px;
                text-align: center;
            }
            &-descr {
                margin-top: 12px;
                color: $third-color;
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                text-align: center;
            }
        } 
    }
}